<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mashup.frienitto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".FrenttoApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".matching.MatchingAnimationActivity">
        </activity>

        <activity android:name=".room.close.RoomCloseActivity">
        </activity>

        <activity android:name=".matching.home.MatchingHomeActivity"/>

        <activity android:name=".room.home.RoomHomeActivity">
        </activity>

        <activity android:name=".room.join.RoomJoinActivity"
                  android:windowSoftInputMode="adjustPan"
        >
        </activity>

        <activity android:name=".room.creation.RoomCreationActivity"
                  android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".room.RoomActivity">
        </activity>

        <activity
                android:name=".SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".select.SelectActivity"/>

        <activity android:name=".home.HomeActivity"/>

        <activity
                android:name=".register.RegisterActivity"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".login.LoginActivity"/>

    </application>

</manifest>